@model Twitter_Clone.Models.Tweet
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddTweet", "Home"))
{
<div class="form-row">
    <div class="col ">
        @Html.TextBoxFor(model => model.Message, new { @class = "message" })
    </div>
    <div class="col-8">  
        <button class="btn btn-primary" type="submit">Tweet</button>
    </div>
</div>
  
<div>
    @Html.ActionLink("Following", "Index", "Followings",null, new { @class = "badge badge-pill badge-warning" })
    @Html.ActionLink("Followers", "Followers", "Followings",null ,new { @class = "badge badge-pill badge-info" })
</div>  


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Message From</th>
                <th scope="col">Message</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>


            @if (Model.TweetList != null)
            {
                foreach (var item in Model.TweetList)
                {
                    <tr>
                        <th scope="row">
                            @Html.DisplayFor(model => item.User_Id)
                        </th>
<td>
                            @Html.DisplayFor(model => item.Message)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Created)
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>

</div>

    

    }
